@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select: none;
	overflow: hidden;
}
body {
	margin: 0;
	background-color: black;
}
header {
	width: 100%;
	background-color: red;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0;
	background-color: #b11212;
}
main {
	text-align: center;
	margin-left: 1%;
	font-size: 70;
	color: white;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}
.oracle {
	z-index: -1;
	width: 300%;
  	height: auto;
  	object-fit: contain;
  	object-position: center;

}
.headerimg {
	width: 3000;
	height: 100;
}
.enableSelect {
	user-select: text;
}
.p3-title {
    
    width: 150%;
}
.p3-artistInfo {
	width: 150%;
}
